#box{
    width: 900px;
    height:750px ;
    background-color: rgba(223, 151, 207, 0.452);
    position: relative;
    margin: 20px;
    border:2px solid black;
}
#img{
    border: 5px solid black;
padding-left: 5px;   
 height: 100px;
    width: 97px;
   box-sizing: border-box;
    position: absolute;
    right:0px;
    background-color: rgb(228, 154, 228);
}
 
 
 
 div.content {
     border: 1px solid black;
     margin-top: auto;
     margin-bottom: auto;
     margin-right: auto;
     margin-left: auto;
   }
div #first{
font: 1em sans-serif;
border: 1px solid black;
     margin-top: auto;
     margin-bottom: auto;
     margin-right: auto;
     margin-left: auto;
   
}

div #second{
    font: 1em sans-serif;
    border: 1px solid black;
     margin-top: auto;
     margin-bottom: auto;
     margin-right: auto;
     margin-left: auto;
   
    }
    div #third{
        font: 1em sans-serif;
        border: 1px solid black;
     margin-top: auto;
     margin-bottom: auto;
     margin-right: auto;
     margin-left: auto;
   }
        div #fourth{
            font: 1em sans-serif;
            border: 1px solid black;
     margin-top: auto;
     margin-bottom: auto;
     margin-right: auto;
     margin-left: auto;
   
            }
            .detail-label{
                width: 20.7%;
                display: inline-block;
            }
            .detail-value{
                width: 40%;
                display: inline-block;
            }