*{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background: #000000;;
}
.container{
    width: 1200px;
    height: 1000px;
    position: relative;
    margin: auto;
    top: 15px;
    
}
.header{
    position: absolute;
    top: 150px;
    left: 52%;
    transform: translate(-50%,-50%);

}
.btn{
    position: absolute;
    display: inline;
left: 95% ;
top: 10px;
}
#bold{
    border-radius: 50px;
    position: absolute;
    left: 50%;
}
#icon{
    position: absolute;
    top: 125px;
    left:330px;
}
input{
    border:3px solid #32e17c;
    height:40px;
    width:700px;
    border-radius: 50px;
    padding:0px 10px;

}
.main{
    position: absolute;
    width: 1300px;
    height: 140px;
    top: 200px;
    margin: auto;
}
.main-header{
    font-family: sans-serif;
    font-size: 35px;
    max-width: 700px;
position: absolute;
    color: #ffffff;
}
#tag{
    width: 1000px;
    position: absolute;
    bottom: 630px;
    border: 1px solid #ffffff;
    left: 100px;
}
#tag2{
    width: 1000px;
    position: absolute;
    bottom: 300px;
    border: 1px solid #ffffff;
    left: 100px;
}

.image{
    position: absolute;
    left: 50px;
    top: 23px;

}
.image1{
    position: absolute;
    left: 10px;
    float: left;
    


}
.image2{
    position: absolute;
    left: 150px;
    float: left;

}
.image3{
    position: absolute;
    left: 300px;
    float: left;

}
.image4{
    position: absolute;
    left: 450px;
    float: left;

}
.image5{
    position: absolute;
    left: 600px;
    float: left;

}
.image6{
    position: absolute;
    left: 750px;
    float: left;
}
.text-header{
    width: 1300px;
    height: 400px;
    margin: auto;
    position: absolute;
    top:400px ;
    border: 1px solid black;
}
#text{
    position: absolute;
    margin: auto;
    top: 50px;
}
.text1{
    position: absolute;
    left: 100px;
    top: 10px;
    color: #ffffff;
font-family: sans-serif;
font-size: 15px;
}
.text2{
    position: absolute;
    left: 400px;
    float: left;
    color: #ffffff;
    font-family: sans-serif;
font-size: 15px;
}
.text3{
    position: absolute;
    left: 700px;
   float: left; 
   color: #ffffff;
   font-family: sans-serif;
font-size: 15px;
}
.text4{
    position: absolute;
    left: 1000px;
   float: left; 
   top: 15px;
   color: #ffffff;
   font-family: sans-serif;
font-size: 15px;
}
.text-bold{
    width: 1400px;
    height:270px ;
    bottom: 0px;
    position: absolute;
    background-color: rgb(58, 2, 58);
    
    
}
#container1{
    position: absolute;
    width: 300px;
    height: 230px;
    left: 100px;
    color: white;
    text-align: center;
    top: 30px;
}
#container2{
    position: absolute;
    width: 300px;
    height: 230px;
    left:400px;
    float: left;
    color: white;
    text-align: center;
    top: 30px;

}
#container3{
    position: absolute;
    width: 300px;
    height: 230px;
    left: 700px;
    float: left;
    color: white;
    text-align: center;
    top: 30px;
}
#container4{
    position: absolute;
    width: 300px;
    height: 230px;
   top: 30px;
    left: 1000px;
    float: left;
    color: white;
    text-align: center;
}
.containt{
    position: absolute;
    top: 80px;
    left: 15px;
}
.select{
    top: 45px;
     position: absolute;
    
    left: 35px;
}

.cool-link:hover::after{
    width: 100%;
    transition: width 0.3s;

}
li{
    display:inline-block;
}
li a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20px;
    padding: 0px;
}
.cool-link::after{
    content: '';
    
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width.3s;

}
.tag{
    
    position: absolute;
    bottom: 650px;
}