#box{
    width: 1400px;
    height: 900px;
    background-color: rgb(54, 54, 54);
    margin: auto;
}
#header{
    width: 970px;
    height: 150;
    background-color: white;
    margin:15px 200px;
}
#mid{
    width: 1000;
    height: 400;
  
    margin: auto;
}

#footer{
    width: 970;
    height: 150;
    background-color: white;
    margin:15px  200px ;
}
    #mid1{
    width: 500px;
    height: 400;
    float: left;

margin: auto;

}
#mid11{
    width: 500px;
    height: 100px;
   
    
}
#mid111{
    width: 220px;
    height: 100px;
    background-color: white;
    margin:15px auto ;
    float: left;
}
#mid112{
    width: 220px;
    height: 100px;
    background-color:white;
    margin:15px 20px;
  float: left;  
}
#mid12{
    width: 460px;
    height: 230px;
    background-color:white;
    margin: 50px 0px 15px ;
}

#mid2{
    width: 500px;
    height: 400;

float: left;
}
#mid21{
    width: 500px;
    height: 133.3px;
   

}
#mid211{
    width: 220;
    height: 100;
    background-color:white;
    float: left;  
    margin:15px auto ;

}
#mid212{
    width: 220;
    height: 100;
    background-color: white;
    float: left;
    margin: 15px 30px;
 
}
#mid22{
    width: 500px;
    height: 133.3px;
  
    
}
#mid221{
    width: 220px;
    height: 100px;
    background-color:white; 
    float: left;
    margin:15px auto ;
}
#mid222{
    width: 220px;
    height: 100px;
    background-color:white;
    float: left;
    margin:15px 30px;
}
#mid23{
    width: 500px;
    height: 133.3px;
    
}
#mid231{
    width: 220px;
    height: 100px;
    background-color:white;
    float: left;
    margin:15px auto ;
}
#mid232{
    width: 220px;
    height: 100px;
    background-color: white;
    float: left;
    margin:15px 30px ;
}
