.container{
    width: 1000px;
    height: 600;
background-color: thistle; 
  position: relative;
    left: 250px;
}
.header{
      width: 1000px;
      height: 100px;
      background-color: rgb(26, 21, 1);
      position: absolute;
}
.image{
    left: 65px;
position: absolute;
top: 10px;
}
.head1{
    font-size: 44px;
    font-family: sans-serif;
    position: absolute;
    left: 270px;
    color: white;
    top: 15px;
}
.head{
    font-size: 45px;
    position: absolute;
}
.text{
font-family:"open sans";  
font-size: 15px;
  position: absolute;
    left: 25px;
    top: 35px;
}
.child1{
    width: 300px;
    height: 400;
    background-color: ivory;
    position: absolute;
    border: 4px solid black;
    left: 15px;
    top: 150px;

}
.link{
    font-size: 20px;
    left: 35px;
    position: absolute;
    top: 25px;
    font-family:"open sans";  

}

.child2{
    width:550px ;
    height: 400px;
    position: absolute;
    background-color: lemonchiffon;
    border: 4px dotted black;
    right: 20px;
    top: 150px;

}
.head2{
    font-size: 30px;
    position: absolute;
    left: 15px;
    top: 9px;
}
.box{
    width: 1000px;
    height: 480px;
    background-color: wheat;
    border: 3px solid black;
    top: 120px;
    position: absolute;
    left: 260px;
    box-sizing: border-box;
}
.image2{
    position: absolute;
    right: 10px;
    top: 50px;
    border: 4px solid black;
}
.box1{
    position: absolute;
    width: 1000px;
    height: 480px;
    background-color: wheat;
    border: 3px solid black;
    top: 120px;
    position: absolute;
    left: 260px;
    box-sizing: border-box;

}
.box2{
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: grey;
    top: 100px;
    left: 260px;
}