#box{
    width: 600px;
    height: 600px;
    background-color: black;
    margin: auto;
}
#box1{
    width: 600px;
    height:400px ;
    background-color: red;
}
#box11{
    width: 150px;
    height:150px ;
    background-color:wheat;
    border: 3px solid black;
}
#box12{
    width: 150px;
    height:250px ;
    background-color:wheat;
    border: 3px solid black;
  
}

#box2{
    width: 600px;
    height: 200px;
    background-color:blue;
    

}
#box21{
    width: 150px;
    height: 200px;
    background-color:rgb(4, 82, 134);
    border: 3px solid black;
    float: left;
    
}
#box22{
    width: 400px;
    height: 200px;
    background-color:wheat;
    border: 3px solid black;
    float: left;

}
#box23{
    width: 30px;
    height: 200px;
    background-color:wheat;
    border: 3px solid black;
    float: left;

}
#box231{
    width: 30px;
    height: 100px;
    background-color:yellow;
    border: 3px solid black;
    float: left;

}
#box232{
    width: 30px;
    height: 92px;
    background-color:yellowgreen;
    border: 3px solid black;
    float: left;

}