#text-name{
    color:white;
}
    h1{
        float: center;
       background-color:rgb(126, 4, 4);
       color: black;
       margin: 6px 15px 60px 0px; 
    
    }
    h2{
        float: center;
       background-color:rgb(126, 4, 4);
       color: black;
       margin: 6px 15px 20px 20px;
        
    }
    body {
        float: center;
        background-color: black;
      
        margin:6px 15px 20px 200px;
        float:center;
        padding-block-start: 30px;
        color: rgb(129, 2, 2);
       
    }