#box{
    width: 900px;
    height: 700px;

   position: relative;
   left: 150px;
   top: 20px;
}
.aside-div{
    height: 700px;
    width: 300px;
    position:absolute;
    top: 2px;
    background-color: rgb(37, 65, 37);
    display: inline-block;

}
.aside{
    position:relative;
    left: 15%;
    top: 45%;
    color: blanchedalmond;
}



.block1{
    border:1px solid black;
    width: 60%;
    display: inline-block;
}
.block2{
    border:1px solid black;
    width: 60%;
    display: inline-block;
}
.text{
    width: 600PX;
    height:500PX; 
position: absolute;
top: 20PX;
 right: 500px;
display: inline-block;
}
.text1{
       width: 100%;
       height: 50%;
       position: relative;
       top: 50px;
   }
   .text2{
    width: 100%;
       height: 50%;
       position: relative;
       top: 50px;
        
   }
   .header{
       border-bottom: 1px black;
   }
   .head1{
    font-size: 30px;
    position: relative;
       left:4px;
       top:25px;
   }
   