.container{
    width: 1000px;
    height: 900px;
background-color:black;
position: relative;
left: 200px;
top: 50px;


}
.parent{
    width: 900px;
    height: 700px;
    background-color:rgb(3, 84, 87) ;
    border: 3px solid rgb(209, 13, 13);
    position: absolute;
    top: 150px;
    left: 50px;
}
.parent1{
    width: 400px;
    height: 600px;
  background-color: cornsilk;
position: absolute;
left: 45px;
top: 40px;
border: 3px solid black;
}
.child1{
    width: 300px;
    height: 200px;
    background-color:  burlywood;
position: absolute;
right: 55px;
top:40px;
border: 3px solid black;
}
.child2{
    width:300px;
    height: 350px;
    background-color: burlywood;
    position: absolute;
    right: 55px;
    bottom: 60px;
    border: 3px solid black;
}
.head{
    color: white;
   top: 0px;  
  text-align: center;
 
}
.head1{
    font-size: 35px;
}

.article2{
    position: absolute;
    top: 5px;
    left: 20px;
}
.img1{
    position: absolute;
    top: 65px;
    left: 20px;

}
.img2{
    position: absolute;
    top: 65px;
    right: 20px;

}
.img3{
    position: absolute;
    bottom: 25px;
    left: 20px;

}
.img4{
    position: absolute;
    bottom:25px;
    right:20px;

}