.container{
    width: 1000px;
    height: 550px;
    border: 2px solid black;
    position: relative;
    top:90px;
    left: 150px;
}
.header{
    width: 1000px;
    height: 150px;
    background-color: rgb(71, 223, 243);
}
.part1{
    width: 700px;
    height: 200px;
    border:8px solid rgb(41, 238, 41);
    position: absolute;
   background-color:whitesmoke;
   bottom: 200px;
box-sizing: border-box;
}

.part2{
    width: 700px;
    height: 200px;
    border:8px solid rgb(6, 243, 6);
    position: absolute;
    box-sizing: border-box;
   background-color: whitesmoke;
   bottom: 0px;
}
.part3{
    width: 300px;
    height: 400px;
    background-color: rgb(224, 89, 111);
    position: absolute;
    right: 0px;
    top: 150px;
    border: 2px solid black;
    box-sizing: border-box;
}
.site{
font-size: 70px;
}
.Title{
    font-size:45px;
}
.head{
    font-size: 45px;
}
.title1{
    font-size: 20px;
    position: absolute;
    left: 20px;
}
