.body{
    background-image: -webkit-image-set('wall.jpg');
    
}
.container{
    width:900px;
    margin:0px;
}
.container ul{
    list-style: none;

    margin-top: 3%;
}
.container ul li{
    background: silver;
    width: 100px;
    border:1px solid rgb(131, 4, 4);
    height: 40px;
    line-height: 50px;
    text-align:center;
float: left;
 color:red;
 background-color: black;
font-size: 16px;
position: relative;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container ul li:hover{
    background: rgb(4, 236, 4);


}
.container ul ul{
    display: none;
    
}
.container ul li:hover>ul{
    display: block;
  margin: 0px; 
  top: 0px; 
  left: 63px;
}
.container ul ul ul{
    margin-left: 300px;
    top:10px;
    position: absolute;
}


